html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-fixed-top .navbar-brand {
        padding: 40px ;
    }
.hfont{
  
  font-family: 'Arvo', serif;
  font-size:250% !important;
}
.tfont{
    padding: 25px;
    font-family: 'Righteous', cursive ;
    font-size:150% !important;
}
.Xaboutwrapper {
    background-image: url("https://cdn.shutterstock.com/shutterstock/videos/12991490/thumb/1.jpg");
    background-size:cover;
}
h2{
  font-family: 'Cinzel Decorative', cursive !important;
  color:#BFBFBF
 !important;
  font-size:40px !important;
}
.qualities{
  font-family: 'Life Savers', cursive;
  color:#BFBFBF;
  font-size:30px;
}
.Xworkwrapper {
    background-image: url("http://wallpaper-gallery.net/images/dark-minimalist-wallpaper/dark-minimalist-wallpaper-13.jpg");
    background-size: 100% 100%;
}
.contentwrapper {
    background-image: url("https://images7.alphacoders.com/708/708805.jpg");
    background-size: 100% 100%;
}
.big{
  transition: all 0.3s ease-in-out;
  font-size: 9em !important;
  margin:auto !important;
}
.fa:hover{

transform: scale(1.1) rotate(360deg);
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}




.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
